<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">     
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="calender_style.css">
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway" />
    </head>
    <body>

    <div id="calendar"  class="col-sm-12 col-12 col-md-4 logged-home-right-part" style="width:380px;"></div>
    <script src="calendar.js"></script>
        <script>
            window.onload=function() {
                create_calendar(2018,6,'calendar');}

        </script>
    </body>
  